* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF2D7;
    min-height: 100vh;
    position: relative;
}

body::after {
    content: '';
    display: block;
    height: 50px;
    /* Set same as footer's height */
}


.font-heading {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F98866;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.header-img {
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate;
}


@media (max-width: 991px) {
    #header {
        height: 80vh;
        text-align: center;
        margin-top: 150px;
    }

    #header .header-img {
        text-align: center;
    }

    #header .header-img img {
        width: 60%;
    }
}

@media (max-width: 768px) {

    #header h1 {
        font-size: 28px;
    }

    #header {
        margin-top: 60px;
    }

    #header .header-img img {
        width: 70%;
    }
}

@media (max-width: 420px) {

    #header h1 {
        font-size: 28px;
    }

    #header {
        margin-top: 50px;
    }

    #header .header-img img {
        width: 90%;
    }
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

.out-container {
    position: relative;
}

.in-container {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}